USE [master]
GO
/****** Object:  Database [OnlineShopV2]    Script Date: 18/12/2021 18:48:42 ******/
CREATE DATABASE [OnlineShopV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineShopV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OnlineShopV2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineShopV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OnlineShopV2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineShopV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineShopV2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18/12/2021 18:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 18/12/2021 18:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](40) NOT NULL,
	[CategoryDescription] [nvarchar](300) NULL,
	[ImageURL] [nvarchar](max) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 18/12/2021 18:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [real] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 18/12/2021 18:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 18/12/2021 18:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](40) NULL,
	[ProductDescription] [nvarchar](300) NULL,
	[CategoryID] [int] NULL,
	[UnitPrice] [real] NOT NULL,
	[UnitsInStock] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18/12/2021 18:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](40) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[TypeName] [nvarchar](10) NULL,
	[BirthDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTypes]    Script Date: 18/12/2021 18:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTypes](
	[TypeName] [nvarchar](10) NOT NULL,
	[TypeDescription] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserTypes] PRIMARY KEY CLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211125174024_addUsers', N'5.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211125174346_addUserTypes', N'5.0.12')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211125174500_addOrders', N'5.0.12')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [ImageURL]) VALUES (1, N'All Items', N'All Items', N'https://lh3.googleusercontent.com/pw/AM-JKLWXfRxP30Adw8_F61XAZd-CQQl9JkRiC6r-gm0VPv7qdz47f9lWI1-jDIGqw2mOzsE6SyegegyvDf67go-nMl0H5NfP4enaAVqKX1nJfIMtYjKkoCm5xwyALMaVK7BPkbzxwM3PRixje9UEwFHxAcapCw=w426-h757-no?authuser=4')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [ImageURL]) VALUES (2, N'Hats W', N'Hats for women', N'https://images.pexels.com/photos/5257495/pexels-photo-5257495.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [CategoryDescription], [ImageURL]) VALUES (3, N'Covid Mask', N'Covid masks', N'https://images.pexels.com/photos/5340241/pexels-photo-5340241.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [Discount]) VALUES (1, 2, 1, 0)
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [Discount]) VALUES (1, 4, 4, 0)
INSERT [dbo].[OrderDetails] ([OrderID], [ProductID], [Quantity], [Discount]) VALUES (1, 5, 6, 0)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate]) VALUES (1, 7, CAST(N'2021-11-23T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate]) VALUES (2, 4, CAST(N'2021-12-31T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Orders] ([OrderID], [UserID], [OrderDate]) VALUES (3, 7, CAST(N'2022-01-01T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductDescription], [CategoryID], [UnitPrice], [UnitsInStock], [Image]) VALUES (2, N'Fancy Skirt Red W S', N'Description of Fancy Skirt Red W Small', 4, 400, 200, N'https://images.pexels.com/photos/6160421/pexels-photo-6160421.jpeg')
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductDescription], [CategoryID], [UnitPrice], [UnitsInStock], [Image]) VALUES (3, N'Hat Alegro Camel W S', N'Description of Hat Alegro Camel W Small', 2, 350, 50, N'https://images.pexels.com/photos/2126438/pexels-photo-2126438.jpeg')
INSERT [dbo].[Products] ([ProductID], [ProductName], [ProductDescription], [CategoryID], [UnitPrice], [UnitsInStock], [Image]) VALUES (4, N'Covid-19 Mask Winnie the pooh L', N'Description of Covid-19 Mask Winnie the Pooh Large', 3, 40, 89, N'https://lh3.googleusercontent.com/pw/AM-JKLVTF9QAwOQpIGgq1E0nMVOn4gN5y-C8mX_XOqWjufkJ-SzSNex_fkCfhzV_h3nqnvZXIH0wwlGumvWh6qBh0Bstw3ajFg52RAWRp1NEtF3Qromypx3BIuNamNTiohchnY_ZSNmsraM8EePjKbGaHdAiKQ=w426-h757-no?authuser=4')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [Password], [Phone], [TypeName], [BirthDate]) VALUES (4, N'Victor', N'Philipchuk', N'vitoph@gmail.com', N'A12345', N'0525288666', N'Admin', NULL)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [Password], [Phone], [TypeName], [BirthDate]) VALUES (5, N'Assis', N'Tantion', N'ATantion@gmail.com', N'A54321', NULL, N'Assistant', NULL)
INSERT [dbo].[Users] ([UserID], [FirstName], [LastName], [Email], [Password], [Phone], [TypeName], [BirthDate]) VALUES (6, N'Israel', N'Israelov', N'IISraelov@gmail.com', N'123456', N'054-5454545', N'Customer', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[UserTypes] ([TypeName], [TypeDescription]) VALUES (N'Admin', N'User with highest access rights. Can create users, cahnge price, modify inventory and all assistant can.')
INSERT [dbo].[UserTypes] ([TypeName], [TypeDescription]) VALUES (N'Assistant', N'Can: see customers history, perform orders, update products quantity.')
INSERT [dbo].[UserTypes] ([TypeName], [TypeDescription]) VALUES (N'Customer', N'Can: perform orders, see the personal orders history.')
GO
/****** Object:  Index [IX_OrderDetails_ProductID]    Script Date: 18/12/2021 18:48:43 ******/
CREATE NONCLUSTERED INDEX [IX_OrderDetails_ProductID] ON [dbo].[OrderDetails]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_UserID]    Script Date: 18/12/2021 18:48:43 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_UserID] ON [dbo].[Orders]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Products_CategoryID]    Script Date: 18/12/2021 18:48:43 ******/
CREATE NONCLUSTERED INDEX [IX_Products_CategoryID] ON [dbo].[Products]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_TypeName]    Script Date: 18/12/2021 18:48:43 ******/
CREATE NONCLUSTERED INDEX [IX_Users_TypeName] ON [dbo].[Users]
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Products_ProductID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users_UserID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_CategoryID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UserTypes_TypeName] FOREIGN KEY([TypeName])
REFERENCES [dbo].[UserTypes] ([TypeName])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UserTypes_TypeName]
GO
USE [master]
GO
